body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(61, 29, 17, 1);
}

nav {
    background-color: rgb(43, 20, 11);
}

@media  (min-width:500px) {
    .side-bar {
        width: 50%;
    }
}

@media  (min-width:800px) {
    .side-bar {
        width: 30%;
    }
}

@media screen and (min-width:1000px) {
    .side-bar {
        width: 25%;
    }
}